.intro__list {
    list-style: none;
    padding: 0px;
    margin-top: 32px;
}

@media screen and (max-width: 1023px){
    .intro__list {
        margin-left: 24px;
    }   
    
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .intro__list {
        max-width: 288px;
        font-size: 12px;
        line-height: 18px;
        margin-left: 16px;
    }
}  