.cover__subtitle {
    max-width: 360px;
    position: absolute;
    bottom: 245px;
    left: 412px;
    margin: 0px;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
}

