@import url(./__logo/header__logo.css);
@import url(./__lang-link/header__lang-link.css);
@import url(./__lang-link/_status/header__lang-link_status_active.css);
@import url(./__lang-links/header__lang-links.css);

.header {
    max-width: 1185px;
    margin: auto;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 28px;
}