.lead__title {
    max-width: 690px;
    margin: auto;
    font-size: 98px;
    line-height: 100px;
    font-weight: bolder;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 767px){
    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }
}   