@import url(./_width/intro__text_width_bolder.css);
.intro__text {
    display: inline-block;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

