.intro__paragrapg {
    margin-top: 34px;
    margin-bottom: 0px;
    font-family: Inter;
    font-style: normal;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    text-align: left;
}