.cover__title {
    max-width: 560px;
    position: absolute;
    top: 245px;
    left: 312px;
    margin: 0px;
    font-weight: bolder;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    color: #FFFDFD;
}